.cheer{
    background-color: grey;
}
.thoughts{
    background-color:green;
}
.funny{
    background-color: orange;
}
.weird{
    background-color: yellow;
}
.romance{
    background-color: pink;
}
.trust{
    background-color: blue;
}
.anger{
    background-color: red;
}
.fear{
    background-color: brown;
}
.nerves{
    background-color: black;
}
.isolated{
    background-color: white;
}